<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="customerService"
               type="WindsorWCFIntegrationExample.Core.Contracts.ICustomerService, WindsorWCFIntegrationExample.Core"
               wcfEndpointConfiguration="customerClient">
    </component>

    <component id="customerTasks"
          service="WindsorWCFIntegrationExample.Core.Contracts.ICustomerTasks, WindsorWCFIntegrationExample.Core"
          type="WindsorWCFIntegrationExample.Tasks.CustomerTasks, WindsorWCFIntegrationExample.Tasks">
    </component>

  </components>
</configuration>