<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="customerService"
           service="WindsorWCFIntegrationExample.Core.Contracts.ICustomerService, WindsorWCFIntegrationExample.Core"
           type="WindsorWCFIntegrationExample.Infrastructure.Services.CustomerService, WindsorWCFIntegrationExample.Infrastructure"
           lifestyle="transient">
      
    </component>

    <component id="customerRepository"
          service="WindsorWCFIntegrationExample.Core.Contracts.ICustomerRepository, WindsorWCFIntegrationExample.Core"
          type="WindsorWCFIntegrationExample.Infrastructure.Repositories.CustomerRepository, WindsorWCFIntegrationExample.Infrastructure"
          lifestyle="transient">
    </component>
  
  </components>
</configuration>