<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="customerService">
				<endpoint contract="WindsorWCFIntegrationExample.Core.Contracts.ICustomerService" 
                  address="http://localhost:55174/CustomerService.svc" 
                  binding="basicHttpBinding"/>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
